.articles-list {
    margin-top: 2em;
    border: 1px solid $dark-brown;

    .ui-state {
        display:none;
    }
    &.empty {
        .ui-state.empty {
            display:block;
        }
    }
    &.loading {
        .ui-state.loading {
            display:block;
        }
    }
    &.error {
        .ui-state.error {
            display: block;
        }
    }
    &.ideal {
        .ui-state.ideal {
            display: block;
        }
    }

    &.empty, &.loading, &.error {
        display: block;
        text-align: center;
        padding: 1em;
    }
}