.mainImage {
    background-image:  url("./img/mainImageSM.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 265px;
    
    .cita {
        color: $baby-blue;
        padding: 2em 2em;
        visibility: hidden;

        
        &.visibility {
            transition: all 2s ease;
            transition-delay: 1s;
            visibility: visible;
            color: $dark-blue;
        }


        @include if-tablet-portrait {
            font-size: 3em;
        }
        
        @include if-tablet-landscape {
            h2 {
                font-size: 3em;
            }
            
        }
    }

    @include if-mobile-landscape {
        background-image: url("./img/mainImageM.jpg");
        height: 200px;
    }

    @include if-tablet-portrait {
        background-image: url("./img/mainImageXL.jpg");
        height: 500px;
    }

    @include if-tablet-landscape {
        background-image: url("./img/mainImageXL.jpg");
        height: 500px;
    }

    @include if-panoramic-screen {
        background-image: url("./img/mainImageXL.jpg");
        margin: 0 auto;
        max-width: 1280px;
        margin-top: 3em;
        margin-bottom: 3em;
        border: 1px solid $dark-brown;
        
        
    }

}



.articles-list {
    margin-top: 1em;
    margin-bottom: 1em;
    

    .ui-state {
        display: none;
    }
    &.empty {
        .ui-state.empty {
            display: block;
        }
    }
    &.loading {
        .ui-state.loading {
            display: block;
        }
    }
    &.error {
        .ui-state.error {
            display: block;
        }
    }
    &.ideal {
        .ui-state.ideal {
            display: block;

            @include if-mobile-landscape {
            display: flex;
            flex-flow: row wrap; //it allows to appear on multiple rows, the default is nowrap.
            position: relative;
            }
        }


         
    }

    &.empty, &.loading, &.error {
        display: block;
        text-align: center;
        padding: 1em;
    }



    .article {
        border: 1px solid $dark-brown;
        color: $almost-black;
        padding: 1em;
        //max-height: 250px;
        margin: 1em;
        height: 530px;
        overflow: hidden;

        @include if-mobile-landscape {
            //flex-basis: 27.5%; //It's the equivalent of width.
            flex-basis: calc(100% * ( 1 / 3 ) - 6%);
            height: 500px;
        }

        @include if-tablet-landscape {
            flex-basis: calc(100% * ( 1 / 4 ) - 2.5%);
            height: 570px;
        }

        .imageVideo {
            text-align: center;

            .imageArticle {
                max-width: 100%;
    
            }
    
            video {
                margin-bottom: 30px;
                width: 100%;

                @include if-mobile-landscape {
                    margin-bottom: 5px;
                }
            }
        }
        

        .title {
            font-family: $title-font;
            font-weight: bold;
            margin-top: 1em;
            text-align: center;
        }

        .short_text {
            margin-top: 10px;
            color: $dark-brown;
            font-family: $thin-text;
        }

        .seguir_leyendo {
            text-align: center;
            margin-top: 10px;

            a{
                color: $dark-blue;
                font-size: $font-size-small;
                text-decoration: none;

                transition: color 0.5s ease;

                &:hover {
                    color: $brown;   
                }
            }
            

        }

        .author_info {
            background-color: $baby-blue;
            display: flex;
            justify-content: flex-start;
            max-height: 50px;
            margin-top: 1em;
            padding: 5px;

            .author_photo {
                max-width: 17%;
                border-radius: 50%;
                margin-right: 1em;

                @include if-mobile-landscape {
                    max-width: 30%;
                }

                @include if-tablet-landscape {
                    max-width: 15%;
                }

                @include if-tablet-portrait {
                    max-width: 20%;
                }

                @include if-panoramic-screen {
                    max-width: 18%;
                }
            }

            .author_name {
                align-self: center;
                color: $dark-blue;
                font-size: $font-size-small;
            }
        }

        .date_container {
            background-color: $dark-blue;
            display: flex;
            font-size: $font-size-small;
            padding: 10px;

            .date {
                margin-right: 5px;
            }
            .date, .time {
                color: $baby-blue;
            }
        }

        .others_container {
            padding: 10px;
            margin-top: 1em;
            display: flex;
            justify-content: space-around;

            button {
                text-decoration: none;
            }

            .fa-heart-o, .fa-comment-o, .comments_number{
                background-color: white;
            }

            .liked {
                transition: color 0.5s;
                color: $deep-pink;
            }

            .noLiked {
                transition: color 0.5s;
                color: $almost-black;
            }

            #commentButton a{
                color: $almost-black;

                & :hover {
                    color: $almost-black;
                }

                & :visited {
                    color: $almost-black;
                }
            }

        }       
    }
   
}