
.comments-list {
    margin-top: 1em;
    margin-bottom: 1em;
    

    .ui-state {
        display: none;
    }
    &.empty {
        .ui-state.empty {
            display: block;
        }
    }
    &.loading {
        .ui-state.loading {
            display: block;
        }
    }
    &.error {
        .ui-state.error {
            display: block;
        }
    }
    &.ideal {
        .ui-state.ideal {
            display: block;

            @include if-mobile-landscape {
            display: flex;
            flex-flow: row wrap; //it allows to appear on multiple rows, the default is nowrap.
            position: relative;
            }
        }


         
    }

    &.empty, &.loading, &.error {
        display: block;
        text-align: center;
        padding: 1em;
    }




    .comment {
        background-color: $baby-blue;
        border: 0.5px solid $sky-blue;
        color: $almost-black;
        margin: 0 auto;
        padding: 1em;
        width: 90%;

        .name {
            color: $dark-blue;
            text-align: right;
            text-transform: uppercase;
        }

        .email {
            text-align: right;
            color: $dark-brown;
        }

        .text {
            margin-top: 1em;
        }
    }


}