.footerContainer {
    background-color: $almost-black;
    height: 4em;
    color: $baby-blue;
    display: flex;
    justify-content: space-around;

    & p, & i {
        align-self: center;
    }

    & i {
        font-size: 2em;
    }

    #goToInicio {
        background-color: $almost-black;

        a {
            color: $baby-blue;

            & :hover {
                color: $dark-blue;
            }
        }
    }
}