.web-title-container {
    background-color: $light-blue;
    color: $baby-blue;
    display: flex;
    justify-content: space-around;
    font-family: $title-font;
    padding: 1em;



    .web-title, .searchInput {
        align-self: center;
    }

    .searchInput {
        display: flex;

        form {
            padding-left: 10px;
        }
    }
}



.main-nav {
    background-color: $dark-brown;
    color: $baby-blue;
    font-family: $main-font;
    overflow: auto;

    .navbar-list {
        list-style-type: none;

        .active {
                border-bottom: 6px solid $dark-blue;
                background-color: $dark-brown-active;
            }

        .navbar-list-item {
            padding: 5px;
            text-align: center;

            &:hover {
                    background-color: $dark-brown-active;
                }

            & a {
                text-decoration: none;
                color: $baby-blue;
                width: 100%;                
            }
        }



        @include if-mobile-landscape {
            display: flex;
            justify-content: flex-start;

            .navbar-list-item {
                padding: 0.5em 0.5em;
                border-right: 1px solid rgba(128, 128, 128, 0.3);
                height: 3.5em;

                &:last-child, &:nth-last-child(2){
                    border-right: none;
                    border-left: 1px solid rgba(128, 128, 128, 0.3);
                }
            }

            .login-navbar-items {
                width: 40%;
                display: flex;
                justify-content: flex-end;
            }
        }

        @include if-tablet-portrait {
            .login-navbar-items {
                width:70%;
            }
        }

        @include if-tablet-landscape {
            .login-navbar-items {
                width:70%;
            }
        }

        
    }


    
}