.pagination {
    margin-top: 2em;
    margin-bottom: 2em;

    .paginationList {
        display: flex;
        justify-content: center;

        .paginationItem {
            

            &:first-child{
                margin-left: 0;
            }

            & :hover {
                background-color: $dark-blue;
                color: white;
                transition: all 0.5s ease;
            }
            
        }

        a {
            border: 1px $dark-blue solid;
            padding: 1em;
            margin-left: 5px;
            color: $dark-blue;
            text-decoration: none;

            transition: all 0.5s ease;
        }
    }
}