<!--Imágen de cabecera-->
<div class="articleMainImage">
    <div class="imageContainer">
        <h2 class="cita"> Artículo 1<h2>
    </div>
</div>

<section class="content">
    <article class="articleContent">
        <p>
            Cupcake ipsum dolor sit amet tart. Dragée sugar plum gummi bears cheesecake ice cream lemon drops tiramisu topping donut. 
            Powder sugar plum jujubes. <em class="bold"> Dragée I love halvah gummi bears</em>. Donut halvah cookie. Gingerbread wafer croissant apple pie dessert dessert donut dragée lemon drops. 
            Candy canes carrot cake jelly beans brownie gummi bears tiramisu danish jelly beans. Jujubes macaroon candy jelly. 
            Soufflé fruitcake pie icing dragée I love wafer chocolate cake. Caramels ice cream bonbon. I love sweet carrot cake. 
            Jelly beans bear claw cotton candy brownie. Jelly beans carrot cake wafer I love gummies.
        </p>
        <p>
            <em class="bold">Chupa chups</em> sesame snaps chupa chups. Biscuit dragée soufflé pie donut. Gummies tart toffee cotton candy cookie chocolate bar marzipan sugar plum ice cream. 
            Croissant cupcake chupa chups pie bear claw marzipan cotton candy. Marzipan jujubes bonbon. Gingerbread sugar plum soufflé carrot cake marshmallow donut. 
            Liquorice cake gingerbread gingerbread soufflé. Tiramisu fruitcake sweet roll jelly beans gingerbread. Dragée cookie halvah pie oat cake marshmallow pastry. 
            Cookie sweet roll brownie sweet <em class="italic">I love sugar plum</em>. Soufflé cake jelly-o. Cotton candy marshmallow candy canes chocolate cake cheesecake topping I love biscuit.
        </p>
        <p>
            <em class="italic">Caramels powder</em> pudding apple pie I love I love I love. Oat cake I love biscuit bear claw toffee topping caramels lollipop apple pie. 
            Oat cake danish cake cookie topping liquorice gingerbread bonbon gummies. Lemon drops macaroon I love sweet. I love pastry chocolate bar. Gummies lemon drops sweet roll croissant. 
            Brownie tiramisu pudding jelly beans gingerbread chocolate cake bonbon I love powder. Chocolate cake I love dragée chupa chups I love lemon drops I love I love sesame snaps. 
            Jelly topping candy cookie bear claw fruitcake sugar plum I love I love. I love fruitcake chupa chups cookie donut. Biscuit dragée topping pie wafer. 
            Chocolate lollipop cookie fruitcake. Muffin I love I love cookie I love chocolate bar fruitcake chocolate pastry.
        </p>
        <p>Si quieres vosver a la página principal, haz clic <a href="./index.html">aquí</a></p>
        <p>
            Jujubes cookie dragée lollipop sesame snaps chocolate cake I love gingerbread topping. Caramels dragée cake. Powder sweet roll ice cream caramels. 
            Candy canes chupa chups marzipan I love. Halvah caramels brownie chupa chups I love cotton candy cupcake. I love I love cake fruitcake. Dessert jelly-o brownie danish I love cookie. 
            Sweet fruitcake chocolate cake chocolate bar chupa chups. Sweet roll chocolate bar jujubes jelly pastry sesame snaps. Sweet roll sesame snaps danish apple pie tiramisu gummies carrot cake. 
            I love I love cake pastry toffee cake tart. Jelly beans jelly beans chocolate bar. Candy gummi bears cake. Carrot cake I love sweet roll gingerbread I love marshmallow biscuit.
        </p>
    </article>
    <a id="commentsSection"></a>
</section>