<!--Imágen de cabecera-->
<div class="mainImage">
    <div class="imageContainer">
        <h2 class="cita"> Bienvenido a Smellium<h2>
    </div>
</div>


<!--Creamos los 5 estados empty, error, loading, ideal-->
<section class="articles-list loading">

    <div class="ui-state empty">
        <p>No hay ningún artículo publicado</p>
    </div>

    <div class="ui-state error">
        <p>Se ha producido un error al cargar los artículos</p>
    </div>

    <div class="ui-state loading">
        <p>Cargando...</p>
    </div>

    <div class="ui-state ideal">

    </div>
    
</section>