<header class="web-header">
    <div class="web-title-container">
        <h1 class="web-title">Smellium</h1>

        <div class="searchInput">
            <i class="fa fa-search" aria-hidden="true"></i>
            <form action="">
                <input type="text" placeholder="Buscar">
            </form>
        </div>
    </div>
    

    <nav class="main-nav">
        <ul class="navbar-list">


            <li class="navbar-list-item active">
                <a href="" active>Categoría 1</a>
            </li>

            <li class="navbar-list-item">
                <a href="">Categoría 2</a>
            </li>

            <li class="navbar-list-item">
                <a href="">Categoría 3</a>
            </li>

            <div class="login-navbar-items">
                <li class="navbar-list-item">
                <a href="">Log in</a>
                </li>

                <li class="navbar-list-item">
                    <a href="">Sign up</a>
                </li>
            </div>

            
        </ul>
    </nav>

    <div class="mainImage">
        <div class="imageContainer">
            <h2 class="cita"> Bienvenido a Smellium<h2>
        </div>

    </div>
</header>