// Google fonts
$main-font: 'Roboto', sans-serif;
$title-font: 'Oswald', sans-serif;

// Font sizes
$font-size-base: 15px;
$font-size-small: $font-size-base - 5px;
$font-size-large: $font-size-base + 5px;


// Colors http://www.colorcombos.com/color-schemes/124/ColorCombo124.html
$ligth-brown: #E8D0A9;
$dark-brown: #B7AFA3;
$dark-brown-active: #9b948b;
$almost-black: #202020;
$baby-blue: #F5FAFA;
$light-blue: #C1DAD6;
$sky-blue:  #ACD1E9;
$dark-blue: #6D929B;


//Responsive segun los anchos
//iPhone6
$mobile-portrait-width: 420px;
$mobile-landscape-width: 568px;
// Tablet, iPad
$tablet-portrait-width: 750px;
$tablet-landscape-width: 1280px;
// panoramic screens
$panoramic-screen-width: 1366px;